nodejs_test.iml
base/node_modules

es6/node_modules

exp/node_modules

heima/.idea/*

heima/02/node_modules
heima/02/work/lib/*

heima/03/node_modules
heima/03/littleAlbum/node_modules
heima/03/littleAlbum/public/lib/*

heima/04/node_modules

heima/05/node_modules

heima/06/node_modules
heima/06/cutpic/node_modules

heima/07/node_modules
heima/07/shuoshuo/node_modules
heima/07/shuoshuo/.idea/*

heima/08/node_modules
heima/08/chatroom/node_modules
heima/08/socket/node_modules
heima/08/studentmanagement/node_modules
heima/08/studentmanagement/.idea/*

robot/node_modules

study/node_modules

